<div id="cacat">
    <h2 class="page-header">Data Cacat <i class="fa fa-database"></i></h2>
        <div class="row">
            <div class="col-md-8">
                <table class="table table-condensed" ng-init="getCacat()">
                    <thead>
                        <tr>
                            <th>Kode Defect</th>
                            <th>Jenis Cacat</th>
                            <th>Penyebab Cacat</th>
                            <th>Tindakan</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr dir-paginate="cc in data_cacat.data_cacat| filter:cariCacat | itemsPerPage:5">
                            <td>{{cc.kode_defect}}</td>
                            <td>{{cc.jenis_cacat}}</td>
                            <td>{{cc.penyebab_cacat}}</td>
                            <td>{{cc.tindakan}}</td>
                            <td>
                                <button class="btn btn-info btn-xs" data-toggle="modal" data-target="#formEditCacat" ng-click="onEditCacat(cc)"><i class="fa fa-edit"></i> Edit</button>
                                <button class="btn btn-danger btn-xs" ng-click="hapusCacat(cc)"><i class="fa fa-remove"></i> Hapus</button>
                            </td>
                        </tr>
                        <div ng-show="data_cacat.data_cacat.length === 0">
                            <p class="text-muted">Belum Ada Data</p>
                        </div>
                    </tbody>
                </table>
                <div class="text-center">
                    <dir-pagination-controls
                           max-size="5"
                           direction-links="true"
                           boundary-links="true">
                    </dir-pagination-controls>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-utils">
                    <div class="form-group">
                        <label for="cari"><i class="fa fa-search"></i> Cari</label>
                        <input type="text" name="cariCacat" ng-model="cariCacat" class="form-control">
                    </div>
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#formNewCacat"><i class="fa fa-plus-square"></i> Tambah Data</button>
                </div>
                <div id="formNewCacat" class="collapse styleForm">
                    <div class="row">
                        <div class="col-md-12">
                        <!-- form Tambah Data -->
                        <h4 class="sub-header">Tambah Data Baru</h4>
                            <form>
                                <div class="form-group">
                                    <label for="kode_defect">Kode Defect</label>
                                    <input type="text" name="kode_defect" ng-model="newCacat.kode_defect" class="form-control" autofocus>
                                </div>
                                <div class="form-group">
                                    <label for="jenis_cacat">Jenis Cacat</label>
                                    <textarea name="jenis_cacat" ng-model="newCacat.jenis_cacat" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="penyebab_cacat">Penyebab Cacat</label>
                                    <textarea name="penyebab_cacat" ng-model="newCacat.penyebab_cacat" class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="tindakan">Tindakan</label>
                                    <textarea name="tindakan" ng-model="newCacat.tindakan" class="form-control" rows="3"></textarea>
                                </div>
                                <button type="button" class="btn btn-success btn-sm" ng-click="onNewCacat()"><i class="fa fa-send"></i> Simpan</button>
                                <button type="button" class="btn btn-warning btn-sm" data-toggle="collapse" data-target="#formNewCacat"><i class="fa fa-history"></i> Batal</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal Edit Data -->
        <div class="modal fade" tabindex="-1" role="dialog" id="formEditCacat">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit Data <i class="fa fa-edit"></i></h4>
              </div>
              <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="kode_defect">Kode Defect</label>
                        <input type="text" name="kode_defect" ng-model="curCacat.kode_defect" class="form-control" disabled>
                    </div>
                    <div class="form-group">
                        <label for="jenis_cacat">Jenis Cacat</label>
                        <textarea name="jenis_cacat" ng-model="curCacat.jenis_cacat" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="penyebab_cacat">Penyebab Cacat</label>
                        <textarea name="penyebab_cacat" ng-model="curCacat.penyebab_cacat" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tindakan">Tindakan</label>
                        <textarea name="tindakan" ng-model="curCacat.tindakan" class="form-control" rows="3"></textarea>
                    </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-history"></i> Batal</button>
                <button type="button" class="btn btn-primary" ng-click="updateCacat(curCacat)"><i class="fa fa-send"></i> Simpan Perubahan</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
</div>