<div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="text-center">Selamat Datang di <strong>Sistem Pengendali Kualitas</strong></h1>
            <div class="text-center">
                <h2 class="text-info">PT. Dynaplast</h2>
                <img src="./assets/logo.png" alt="">
            </div>
            <div id="button-group" class="text-center">
                <a href="#/dashboard/produksi" class="btn btn-primary">Cek Data Produksi</a>
                <a href="#/dashboard/peta-kendali" class="btn btn-success">Cek Peta Kendali Kualitas</a>
            </div>
        </div>
    </div>
</div>